%flex {
	display: flex;
}

%flex-column {
	@extend %flex;
	flex-direction: column;
}

.quiz {
	padding-inline: 1rem;
	padding-block-end: 10rem;

	h1 {
		text-align: center
	}

	&__number {
		@extend %flex;
		flex-wrap: wrap;
		gap: 3.8rem;
		width: 100%;
		border: 1px solid red;
		margin-block: 10rem 5rem;

		&-container {
			color: $black;
			text-align: center;
			font-size: 1.7rem;
			padding: 1rem 1.5rem;
			cursor: pointer;

			p {}
		}

		&-active {
			color: $white !important;
			background-color: $primary-color;
		}
	}

	&__question-number {
		font-size: 1.8rem;
		text-align: center;
		position: relative;

		&::before {
			content: '';
			background-color: hsla(0, 21%, 64%, 0.1);
			width: 43%;
			height: .2rem;
			position: absolute;
			left: 0;
			top: 50%
		}

		&::after {
			content: '';
			background-color: hsla(0, 21%, 64%, 0.1);
			width: 43%;
			height: .2rem;
			position: absolute;
			right: 0;
			top: 50%
		}
	}

	&-container {
		@extend %flex-column;
		gap: 1rem;
		width: 100%;
		padding-block-start: .5rem;
	}

	&__questions-container {
		padding-block: 1rem;
		@extend %flex-column;
		gap: 2rem;
		width: 100%;
		border: 1px solid red;


		span {
			display: block;
			text-align: right;
			font-size: 1.6rem;
			color: $primary-color;
		}
	}

	&__question-container {
		width: 100%;
		height: 100%;
		border: 1px solid blue;
	}



	&--question {
		font-size: 3rem;
		font-weight: 500;
	}

	&__options {
		@extend %flex-column;
		gap: 2rem;
		border-bottom: 1px solid rgba(182, 144, 144, 0.102);
	}

	&__option {
		@extend %flex;
		align-items: baseline;
		gap: .5rem;

		&--input {
			appearance: none;
			background-color: #fff;
			margin: 0;
			font: inherit;
			color: currentColor;
			width: 2rem;
			height: 2rem;
			border: 1px solid #adb5bd;
			transform: translateY(-0.075em);
			display: grid;
			place-content: center;

			&::before {
				content: "";
				width: 1.5rem;
				height: 1.5rem;
				transform: scale(0);
				transition: 120ms transform ease-in-out;
				box-shadow: inset 2rem 2rem $primary-color;
				transform-origin: bottom left;
				clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
			}

			&:checked::before {
				transform: scale(1);
			}
		}

		&--label {
			font-size: 1.8rem;
			cursor: pointer;
		}
	}

	&__btns {
		@extend %flex;
		align-items: center;
		justify-content: flex-end;
		gap: 2rem;
		padding-block: 3rem;
	}

	&__btn {
		font-size: 1.7rem;
		letter-spacing: .2em;

		&--submit {
			width: 100%;
			border-color: green;

			&:hover {
				background-color: green;
			}
		}
	}

}